/* Portfolio container */
.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    column-gap: 1.1rem;
}

/* Card */
.portfolio__content {
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--container-color);
    padding: 2rem;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
}

/* Data top */
.portfolio__data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio__icon {
    font-size: 2rem;
    color: var(--title-color);
}

.portfolio__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

/* Button */
.portfolio__button {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.portfolio__button-icon {
    font-size: 1rem;
    transition: .3s;
}

.portfolio__button:hover .portfolio__button-icon {
    transform: translateX(5px);
}

/* Footer bottom */
.portfolio__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* GitHub icon */
.portfolio__github {
    font-size: 1.8rem;
    color: black;
    transition: 0.3s;
}

.portfolio__github:hover {
    transform: scale(1.1);
}

/* Modal */
.portfolio__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio__modal-content {
    width: 500px;
    background: white;
    padding: 2.5rem;
    border-radius: 1rem;
}

.portfolio__modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.portfolio__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    text-align: center;
}

.portfolio__modal-description {
    font-size: var(--small-font-size);
    margin-top: 1rem;
    text-align: left;
}

.active-modal {
    opacity: 1;
    visibility: visible;
}

/* Responsive */
@media screen and (max-width: 992px) {
    .portfolio__container {
        grid-template-columns: repeat(3, 230px);
    }
}

@media screen and (max-width: 768px) {
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio__content {
        padding: 1.5rem;
    }
    .portfolio__icon {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .portfolio__modal-content {
        width: 90%;
        padding: 2rem;
    }
    .portfolio__modal-description {
        padding: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .portfolio__container {
        grid-template-columns: 1fr;
    }
}